<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recepie</button>
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let recepie of recepies"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recepie.name }}</h4>
        <p class="list-group-item-text">{{ recepie.description }}</p>
      </div>

      <span class="pull-right">
        <img
          src="{{ recepie.imagePath }}"
          alt="recepie-image"
          class="image-responsive"
          style="max-height: 80px"
      /></span>
    </a>
    <br />
    <app-recepie-item></app-recepie-item>
  </div>
</div>
