<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recepie Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recepie <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping List</a></li>
        <li><a href="#">Edit Recepie</a></li>
        <li><a href="#">Delete Recepie</a></li>
      </ul>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-12">Description</div>
</div>
<div class="row"><div class="col-xs-12">Ingredients</div></div>
